<div class="aboutus-wrapper">
<h1>About</h1>
<p>
  
The whole concept started with a mother-daughter team, who wanted to raise awareness about how it is to navigate the world when one is blind, disabled and with a rare and complex illness to add to ones problems. Society tends to think that such people have little to contribute to the world. This is our small attempt to bring a change, to build communities and a world where equality is truly respected and practiced. 
</p>
<h3>
  1: TEAM 
</h3>
<p>
<b>RAMYA DEVULAPALLI</b> - the founder and Director 

Ramya is a young woman who wants to make a difference in our world and specially be a guiding force for disabled persons. She is all about acceptance and tolerance and being proud about who you are. She is the creative brains behind this company. She inspires and motivates people around her. Ramya also works towards awareness about her rare illness called APS type I (Autoimmune poly glandular syndrome Type one) as well as other illnesses. She is also a strong advocate for including disabled persons so they they will be contributing members of our societies. She does this through her art music and books. 

</p>
<p>
<b>PRASANTHA DEVULAPALLI</b> - administrative Director. 

Prasantha has many years of management experience and has helped several start ups with their businesses. She loves the idea of social entrepreneurship and thats her vision for this organization. She has an MBA in procurement and E-commerce. Her job to keep this organization alive and build a community of like minded people from all over the world. She is also an internationally certified life coach and will be holding workshops and is open to making a difference in peoples lives 

</p>
<p>
<b>VINOD CHILKA</b> - Web developer and our technical go-to man 

Vinod is a visionary and able to come with solutions that are cost effective and visually effective. His ability to grasp the various requirements of his clients puts him at the top of the game and we are grateful for his input. His qualifications are……. And he is based in Bangalore. 

</p>
<h3>
  2: OUR VISION & MISSION
</h3>
<p>
  We aim to bring about awareness in this world by using art and music. We are a team where we want to make a real difference and change the world, one person at a time.. We want to be able to give as much as we get, so every product that you buy, you can be assured that we will donate just as much to our projects. Every event we do will be to raise awareness and some of the proceedings will be donated towards our aim. 
</p>
<p>
  
Our vision is to make this world a better place, to do it through action, one person at a time. We believe that everyone of us can create the world we want. We want to do it through art and music and sharing our experiences with you. 
</p>
<h3>
  3: CONTACT
  </h3>
  <p>
    e-mail: contact@actually-ican.org</p>

<p>Facebook:  facebook/actually-ican</p>

<p>Twitter:</p>

<p>Instagram: </p>

<p>YouTube: Ramya Devu actually ican</p>

</div>