<div class="project-events-wrapper">
  <h1>PROJECTS & EVENTS</h1>
  <p>
    Actually-ican main person, Ramya Devulapalli is our face. She is the inspiration to us, and we seek to les n from her example. She has been asked to sing at several fundraising events. We try to keep our costs down as much as possible so that booking Ramya for any event should not be so unaffordable that you will not be able to fund your project or event. Ramya and Prasantha work with publication of books and at the moment are working on a book in collaboration with others. Our projects are taking shape, keep looking and you will see our projects and what we are planning to use our funds for. 
  </p>
  <ol>
    <li> BOOK US FOR AN EVENT</li>



      <li> PUBLICATIONS</li>
      
      
      
      <li>PROJECTS
      </li>
  </ol>


</div>