<div class=" home-content">
    <div class="container">
        <mat-card class="slogon">I will persist until I succeed</mat-card>
    </div>
  <div class="container">
    <div class="row">
      <button class="col-lg-3 col-md-3 col-sm-6 col-6 home-card" mat-button routerLink="/home">Home</button>
      <button class="col-lg-3 col-md-3 col-sm-6 col-6 home-card" mat-button routerLink="/about">About</button>
      <button class="col-lg-3 col-md-3 col-sm-6 col-6 home-card" mat-button routerLink="/blog">Blog</button>
      <button class="col-lg-3 col-md-3 col-sm-6 col-6 home-card" mat-button routerLink="/proectsEvents">Peojects&nbsp;&&nbsp;Events</button>
    </div>
  </div>
</div>
